.textcolor{
    color: white;
}

.container{
    background-color: rgb(57, 0, 114);
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    gap: 30px;
    
}

body{
    background-color: black;
}

#aboutme, #projects, #resume{
    display: inline-block;
}

#aboutme{
    width: 200px;
    text-align: center;
    margin-left: 0%;
}

#projects{
    width: 200px;
    text-align: center;
}

#resume{
    width: 200px;
    text-align: center; 
}