.textcolor{
    color: #59656F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

#name-logo{
    padding-left: 50px;
}

.menubar{
    background-color: #D1D1D1;
    color: #D1D1D1;
    display: flex;
    border-radius: 25px;
    flex-direction: row;
    gap: 50px;
}

#profile{
width: 600px;
height: 400px;
margin-top: 30px;
border: #9C528B;
border-style: none;
border-radius: 20px;
float:right;
}

body{
    background-color: #000000;
}

#aboutme, #projects, #resume{
    display: inline-block;
}

#aboutme{
    width: 150px;
    text-align: center;
    margin-left: 0%;
}

#projects{
    width: 150px;
    text-align: center;
}

#resume{
    width: 150px;
    text-align: center; 
}